/* ===== BODY ===== */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f5f9;
    display: flex;
    min-height: 100vh;
}


/* ===== SIDEBAR ===== */

.sidebar {
    width: 230px;
    background-color: #2563eb;
    color: white;
    padding: 30px 20px;
    margin: 20px;
    border-radius: 20px;
}


/* Logo */

.logo {
    font-size: 28px;
    margin-bottom: 70px;
}


/* MENU text */

.menu-title {
    color: #dbeafe;
    font-size: 16px;
}


/* Remove UL bullets */

.sidebar ul {
    list-style: none;
    padding: 0;
}


/* Menu items */

.sidebar li {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}


/* Menu hover */

.sidebar li:hover {
    background-color: #3b82f6;
}


/* ===== MAIN CONTENT ===== */

.main {
    flex: 1;
    padding: 20px 30px;
}


/* ===== HEADER ===== */

.header {
    background-color: white;
    padding: 25px 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
    margin-bottom: 30px;
}


.header h1 {
    font-size: 36px;
    margin: 0;
}


/* Profile section */

.profile {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 20px;
}


/* H circle */

.circle {
    width: 50px;
    height: 50px;

    background-color: #2563eb;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
}


/* ===== WELCOME CARD ===== */

.welcome-card {
    background-color: white;

    padding: 40px;
    margin-bottom: 30px;

    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 30px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


/* Avatar */

.avatar {
    width: 150px;
    height: 150px;

    background-color: #dbeafe;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 70px;
}


/* Welcome text */

.welcome-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
}


.welcome-text p {
    font-size: 22px;
    color: #64748b;
}


/* ===== ACCOUNT CARD ===== */

.account-card {
    background-color: white;

    padding: 35px;

    border-radius: 20px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


.account-card h2 {
    margin-top: 0;
}


.account-card hr {
    border: none;
    border-top: 1px solid #ddd;
}


/* Email section */

.email-info {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-top: 25px;
}


/* Email icon circle */

.email-icon {
    width: 60px;
    height: 60px;

    background-color: #dbeafe;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
}


.email-info p {
    margin: 0 0 5px;
    color: #64748b;
}


.email-info span {
    font-size: 20px;
}


/* ===== FOOTER ===== */

footer {
    text-align: center;

    margin-top: 50px;
    padding: 20px;

    color: #64748b;
}
